.mainContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
}

.pageHeader,
.pageFooter {
  flex-grow: 0;
  flex-shrink: 0;
}

.pageBody {
  flex-grow: 1;
}
