nav {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #49a6e9;
  background: transparent;
  border-color: transparent;
  transition: all 0.2s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: #063251;
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: #324d67;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: #a5d5f8;
  color: #49a6e9;
  padding-left: 1.5rem;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 950px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 1rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
