.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 3.6rem;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  background: #8bcbf9;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.3s linear;
}
.active-btn {
  background: #063251;
  color: white;
}
.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
