.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  /* background: #8bcbf9; */

  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.3s linear;
  color: #33a9b0;
  border: 2px solid #33a9b0;
}
.active-btn {
  background-color: #33a9b0;
  color: white;
}
.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.pageLoading {
  position: absolute;
  left: 50%;
  top: 50%;
}
