.posts {
  position: relative;
  top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  column-gap: 2rem;
  width: 85vw;
  margin: 0 auto;
}

.post {
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 0.9rem;
}

.postInfo > hr {
  margin-top: 0.5rem;
}

.postTitle {
  font-family: Montserrat;
}

.postExcerpt {
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.8rem;
}

.postExcerpt {
  font-family: Roboto;
}

.readMoreBtn {
  display: flex;
  padding: 6px;
  background: rgb(64, 81, 234);
  border: 1px solid rgb(64, 81, 234);
  color: white;
  font-size: 15px;
  border-radius: 6px;
  transition: all 0.2s linear;
  cursor: pointer;
  letter-spacing: 3px;
  justify-content: center;
}

.readMoreBtn:hover {
  color: white;
  background: rgba(0, 0, 255);
  border: 1px solid rgb(64, 81, 234);
}
.pageLoading {
  position: absolute;
  left: 50%;
  top: 50%;
}
