.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 45px;
  width: 900px;
}

.post {
  width: 360px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid cornflowerblue;
  padding: 12px;
  border-radius: 6px;
}

.postExcerpt {
  text-align: justify;
}
