.posts {
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  column-gap: 2rem;
  width: 85vw;
  padding: 3rem 0;
  margin: 0 auto;
}

.post {
  background: white;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.postInfo > hr {
  margin-top: 0.5rem;
}

.postExcerpt {
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.8rem;
}

.readMoreBtn {
  display: flex;
  padding: 6px;
  background: rgb(64, 81, 234);
  border: 1px solid rgb(64, 81, 234);
  color: white;
  font-size: 15px;
  border-radius: 6px;
  transition: all 0.2s linear;
  cursor: pointer;
  letter-spacing: 3px;
  justify-content: center;
}

.readMoreBtn:hover {
  color: white;
  background: rgba(0, 0, 255);
  border: 1px solid rgb(64, 81, 234);
}
