.singlePost {
  position: relative;
  top: 98px;
  margin: 0px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentDiv {
  width: 60%;
  font-family: Roboto;
  font-size: 1.2rem;
  /* line-height: 1.8rem; */
  text-align: justify;
  padding: 18px;
}

p {
  line-height: 2.5rem !important;
  /* font-family: Roboto;
  font-size: 1.2rem; */
}

.jodit-react-container {
  width: 60%;
}

@media only screen and (max-width: 900px) {
  p > img {
    max-height: 100%;
    width: 400px;
  }
}
