.App {
  text-align: center;
}

.header{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.header > h1{
  letter-spacing: 0.5rem;
  background: linear-gradient(to right, rgb(64, 81, 234), rgba(0, 0, 255, 0.52));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer{
  position: sticky;
  bottom:0;
}
