body {
  background-color: #fdfbfb;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 0 36px;
  z-index: 100;
}

.header > h1 {
  letter-spacing: 0.5rem;
  background: linear-gradient(
    to right,
    rgb(64, 81, 234),
    rgba(0, 0, 255, 0.52)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homePage {
  display: flex;
}

.posts {
  display: flex;
  flex: 9;
  flex-wrap: wrap;
  margin: 20px;
}

.post {
  width: 450px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
}

.readMoreBtn {
  width: 150px;
  padding: 6px;
  background: rgb(64, 81, 234);
  border: 1px solid rgb(64, 81, 234);
  color: white;
  font-size: 15px;
  /* border: none; */
  border-radius: 6px;
  transition: all 0.3s linear;
  cursor: pointer;
  letter-spacing: 3px;
}

.readMoreBtn:hover {
  color: black;
  background: transparent;
  border: 1px solid rgb(64, 81, 234);
}

.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 20px;
}

.sidebarItem > p {
  text-align: justify;
  line-height: 28px;
}

.sidebarTitle {
  font-size: 27px;
  font-weight: 600;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
}

.sidebarLinks > a {
  text-decoration: none;
  letter-spacing: 3px;
  margin: 10px 0;
}

.footer > p {
  text-align: center;
}

.navContainer {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin: auto;
}

/* input[type="file"] {
  display: none;
} */
